* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("assets/Daily_Crocket.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.titre {
  animation: clignote 8s infinite;
  background: repeating-radial-gradient(
    circle farthest-side at center center,
    rgba(68, 71, 69, 0.306) 0%,
    #34c5cf 100%
  );
  background-clip: text;
  font-family: "Caprasimo", serif;
  font-size: 5rem;
  margin: 0 auto;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraphe {
  background: #d3d717;
  background-clip: text;
  font-family: "Bungee Spice", sans-serif;
  position: relative;
  text-align: center;
  top: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

.img_bombe {
  display: block;
  height: 20rem;
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 20rem;
}

.img_boum {
  display: block;
  height: 20rem;
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 20rem;
}

.timer {
  background: #ffa700;
  background-clip: text;
  display: block;
  font-family: "Climate Crisis", sans-serif;
  font-size: 50px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 68px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black;
}

.bouton_suivant {
  position: relative;
  top: 39px;
  right: -47px;
  color: #ffa700;
  font-size: 35px;
  border: none;
  background: none;
  display: block;
  margin: 10px auto;
  font-family: "Climate Crisis", sans-serif;
  -webkit-text-stroke: 2px black;
}

.bouton_go {
  position: relative;
  right: 46px;
  bottom: -97px;
  color: #ffa700;
  font-size: 35px;
  border: none;
  background: none;
  display: block;
  margin: 10px auto;
  font-family: "Climate Crisis", sans-serif;
  -webkit-text-stroke: 2px black;
}

.bouton_plus {
  top: 6px;
  right: -124px;
}

.bouton_moins {
  top: 154px;
  left: -148px;
}

.bouton_plus,
.bouton_moins {
  position: relative;
  color: #ffa700;
  border: none;
  background: none;
  display: block;
  margin: 10px auto;
  font-family: "Climate Crisis", sans-serif;
  -webkit-text-stroke: 2px black;
  font-size: 20px;
}

.bouton_go:hover,
.bouton_suivant:hover,
.bouton_plus:hover,
.bouton_moins:hover {
  color: #2fc73e;
}

.bouton_suivant:active,
.bouton_plus:active,
.bouton_moins:active,
.bouton_go:active {
  transform: translate(0px, 5px);
}

[class*="bouton"] {
  cursor: pointer;
}

@keyframes clignote {
  0% {
    color: rgba(46, 46, 46, 0.61);
    text-shadow: 2px 2px 5px rgba(163, 154, 154, 0.5);
    opacity: 1;
  }
  5% {
    background: #121fcf;
    background: repeating-radial-gradient(
      circle farthest-side at center center,
      rgb(207 156 18) 0%,
      #34c5cf 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px #7763ec, 0 0 10px rgba(179, 161, 230, 0.41),
      0 0 100px #3ca16a, 0 0 500px #2fc73e, 5px 9px 5px rgba(156, 154, 163, 0.5);
    opacity: 1;
  }
  6% {
    color: rgba(46, 46, 46, 0.61);
    text-shadow: 2px 2px 5px rgba(163, 154, 154, 0.5);
  }
  7.5% {
    background: #121fcf;
    background: repeating-radial-gradient(
      circle farthest-side at center center,
      rgb(207 156 18) 0%,
      #34c5cf 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px #7763ec, 0 0 10px rgba(179, 161, 230, 0.41),
      0 0 100px #3ca16a, 0 0 500px #2fc73e, 5px 9px 5px rgba(156, 154, 163, 0.5);
  }
  12.5% {
    color: rgba(46, 46, 46, 0.61);
    text-shadow: 2px 2px 5px rgba(163, 154, 154, 0.5);
  }
  15% {
    background: #121fcf;
    background: repeating-radial-gradient(
      circle farthest-side at center center,
      rgb(207 156 18) 0%,
      #34c5cf 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px #7763ec, 0 0 10px rgba(179, 161, 230, 0.41),
      0 0 100px #3ca16a, 0 0 500px #2fc73e, 5px 9px 5px rgba(156, 154, 163, 0.5);
  }
  22.5% {
    color: rgba(46, 46, 46, 0.61);
    text-shadow: 2px 2px 5px rgba(163, 154, 154, 0.5);
  }
}

/* Styles généraux pour les écrans plus larges */
body {
  font-size: 16px;
  /* Ajoutez d'autres styles pour les écrans plus larges si nécessaire */
}

/* Styles pour les écrans de taille moyenne à petite (tablette) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    /* Ajoutez d'autres styles pour les tablettes si nécessaire */
  }
}

/* Styles pour les écrans petits (smartphones) */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    /* Ajoutez d'autres styles pour les smartphones si nécessaire */
  }
}
